{
  presets: [
    "@babel/react",
    "@babel/env"
  ],
  plugins: [
    "@babel/plugin-syntax-dynamic-import",
    "transform-class-properties",
    [
      "@babel/transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
