{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true,
      "classes": true
    }
  },
  "plugins": [
    "react",
    "prettier",
    "react-hooks"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-useless-catch": "off",
    "no-undef": "off",
    "no-debugger": "off",
    "eqeqeq": [
      "error",
      "always"
    ],
    "getter-return": [
      "error",
      {
        "allowImplicit": true
      }
    ],
    "no-template-curly-in-string": "error",
    "semi": "off",
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "block-spacing": [
      "error",
      "always"
    ],
    "brace-style": [
      "error",
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "camelcase": "warn",
    "comma-dangle": "off",
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "comma-style": [
      "error",
      "last"
    ],
    "computed-property-spacing": [
      "error",
      "never"
    ],
    "func-call-spacing": [
      "error",
      "never"
    ],
    "keyword-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "max-len": [
      "warn",
      100
    ],
    "no-duplicate-imports": "error",
    "id-length": "off",
    "id-blacklist": 0,
    "max-depth": [
      "warn",
      4
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "globals": {
    "expect": true
  }
}