/* CSS for zipcode loading animation */
.input-container {
  position: relative;
}
.icon-container {
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
}
.loader {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-block;
  animation: around 5.4s infinite;
}
@keyframes around {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader::after,
.loader::before {
  content: '';
  background: var(--surface-4);
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-color: var(--tertiary-17) var(--tertiary-17) transparent transparent;
  border-style: solid;
  border-radius: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  animation: around 0.7s ease-in-out infinite;
}

.loader::after {
  animation: around 0.7s ease-in-out 0.1s infinite;
  background: transparent;
}
select {
  -webkit-appearance: none;
  appearance: none;
}
select:active {
}
.select-arrow::after {
  content: '';
  margin-right: 1em;
  width: 0.8em;
  height: 0.5em;
  background-color: var(--primary-1);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}
.select-arrow {
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
}
select,
.select-arrow:after {
  grid-area: select;
}
.select-arrow:focus-visible,
.select-arrow:focus-within {
  border: 1px solid var(--surface-13);
}
