.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.card-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 15px;
  background-color: #fdfdfd;
  margin: 20px 0px;
  border-radius: 10px;
  border: 1px solid #eee;
  box-shadow: 0px 0px 8px 0px #d4d4d4;
  transition: 0.5s;
}

.card-box h6 {
  margin-bottom: 1rem;
}

.card-box:hover {
  border: 1px solid #091f40;
}

.card-box p {
  color: #808080;
}

.user-pic {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100%;
  margin: 20px auto 20px;
  border: 1px solid #091f40;
}

.bio {
  flex-grow: 1;
  margin-bottom: 1rem;
}

.board-links {
  display: flex;
  justify-content: space-evenly;
}

.board-icons {
  color: #091f40;
  transition: 0.2s;
}

.board-icons:hover {
  color: #c5203e;
}
