:root {
  --main-white: #ffffff;
  --hash-flag-blue: #091f40;
  --hash-flag-red: #c5203e;
  --off-white: #fdfdfd;
  --silver: #eeeeee;
  --light-gray: #d4d4d4;
  --medium-gray: #808080;
}
.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.card-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 15px;
  background-color: var(--off-white);
  margin: 20px 0px;
  border-radius: 10px;
  border: 1px solid var(--silver);
  box-shadow: 0px 0px 8px 0px var(--light-gray);
  transition: 0.5s;
}

.card-box h6 {
  margin-bottom: 1rem;
}

.card-box:hover {
  border: 1px solid var(--hash-flag-blue);
}

.card-box p {
  color: var(--medium-gray);
}

.user-pic {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100%;
  margin: 20px auto 20px;
  border: 1px solid var(--hash-flag-blue);
}

.bio {
  flex-grow: 1;
  margin-bottom: 1rem;
}

.board-links {
  display: flex;
  justify-content: space-evenly;
}

.board-icons {
  color: var(--hash-flag-blue);
  transition: 0.2s;
}

.board-icons:hover {
  color: var(--hash-flag-red);
}
