.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.card-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 15px;
  background-color: var(--surface-2);
  margin: 20px 0px;
  border-radius: 10px;
  border: 1px solid var(--element-12);
  box-shadow: 0px 0px 8px 0px var(--element-12);
  transition: 0.5s;
  min-height: 750px;
}

.card-box h6 {
  margin-bottom: 1rem;
}

.card-box:hover {
  border: 1px solid var(--element-3);
}

.card-box p {
  color: var(--element-3);
}
.card-box h1 {
  font-size: 1.2rem;
}
.card-box h2 {
  font-size: 1rem;
}
.card-box h3{
  font-size: .8rem;
  font-weight:bold;
  padding:10px;
}
.user-pic {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100%;
  margin: 20px auto 20px;
  border: 1px solid var(--element-3);
}

.bio {
  flex-grow: 1;
  margin-bottom: 1rem;
}

.board-links {
  display: flex;
  justify-content: space-evenly;
}

.board-icons {
  color: var(--element-3);
  transition: 0.2s;
}

.board-icons:hover {
  color: var(--primary-1);
}

