.panel {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid var(--element-12);
  border-radius: 10px;
  box-shadow: 0 0 8px 0 var(--element-12);
  transition: 0.5s;
  width: 100%;
  margin: 20px auto;
  overflow: hidden;
}

.panel:hover {
  border: 1px solid var(--element-3);
}

.panel-body {
  display: block;
  background-color: var(--surface-2);
  color: var(--element-3);
  padding: 2%;
  width: 100%;
}

.panel-bottom {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .panel-bottom {
    flex-flow: column wrap;
    align-items: center;
  }
}

