@charset "UTF-8";

@font-face {
  font-family: 'Gotham Bold';
  src: url("/fonts/Gotham/Gotham-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Book';
  src: url("/fonts/Gotham/Gotham-Book.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Book Italic';
  src: url("/fonts/Gotham/Gotham-BookItalic.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}


:root[color-mode='light'] {
  /* Surface colors: background color of body, menus, footers, navigation bars, modals */
  --surface-1: #ffffff; /* main body color */
  --surface-1-0: rgba(255, 255, 255, 0); /* transparent */
  --surface-2: #fafafa; /* mostly-white */
  --surface-3: #f6f6f6; /* white smoke */
  --surface-4: #f9f9f9; /* snow white forms bg color */
  --surface-5: #fdfdfd; /* off-white */
  --surface-6: #091f40; /* hash flag blue */
  --surface-7: rgba(26, 26, 26, 0.9);
  --surface-8: #000000; /* black */
  --surface-9: rgba(0, 0, 0, 0.9);
  --surface-10: #323232; /* night rider black */
  --surface-11: rgba(20, 46, 57, 0.8); /* opaque-dark-blue */
  --surface-12: #ffffff; /* panel */
  --surface-13: #091f40;
  --surface-14: #1a51a3;
  --element-1: #000000; /* black */
  --element-1-2: rgba(0, 0, 0, 0.2);
  --element-1-3: rgba(0, 0, 0, 0.3);
  --element-1-5: rgba(0, 0, 0, 0.5);
  --element-2: #222222; /* body fonts */
  --element-3: #091f40; /* borders & dark font light bg */
  --element-4: #ffffff; /* light font on dark bg */
  --element-4-0: rgba(255, 255, 255, 0); /* transparent element */
  --element-5: #999999; /* nobel gray */
  --element-6: #728f98; /* gothic blue */
  --element-7: #c5203e; /* hash flag red */
  --element-8: rgba(73, 71, 71, 0.15);
  --element-9: #969595; /* light nobel gray */
  --element-10: #dadada; /* gainsboro gray */
  --element-11: #eeeeee; /*  silver */
  --element-12: #d4d4d4; /* light gray */
  --element-13: #808080; /* medium gray */
  --element-14: #ecf0f1; /* bright gray */
  --element-15: #be1635; /* pink red */
  --element-16: #091f40;
  --element-18: #eba31d;
  --primary-1: #c5203e; /* hash flag red */
  --primary-2: #79c5f5; /* light blue */
  --primary-3: #c5203e; /* hash-flag-red span */
  --tertiary-1: #e0e0e0; /* statue gray */
  --tertiary-2: #d0d0d0; /* concrete gray */
  --tertiary-3: #4ba3c4; /* slushy blue */
  --tertiary-4: rgba(0, 0, 0, 0.1);
  --tertiary-5: #1a3843; /* space blue */
  --tertiary-6: rgba(35, 76, 91, 1); /* dark greyish blue */
  --tertiary-6-6: rgba(35, 76, 91, 0.6); /* dark greyish blue */
  --tertiary-6-7: rgba(35, 76, 91, 0.7); /* dark greyish blue */
  --tertiary-6-8: rgba(35, 76, 91, 0.8); /* dark greyish blue */
  --tertiary-7: #234c5b; /* teal blue */
  --tertiary-8: #29596b; /* dull blue */
  --tertiary-9: #336f85; /* strong blue */
  --tertiary-10: #ffcc00; /* tangerine yellow */
  --tertiary-11: #1a51a3; /* cerulean blue */
  --tertiary-12: #ffc903; /* light yellow */
  --tertiary-13: #bdc3c7; /* grayish blue */
  --tertiary-14: #316b80; /* ocean blue */
  --tertiary-15: #142e39; /* tangaroa blue */
  --tertiary-16: rgba(20, 46, 57, 0.7); /* transparent tangaroa blue */
  --tertiary-17: #333333; /* charcoal */
  --tertiary-18: #c5203e;
}

:root[color-mode='dark'] {
  --surface-1: #091f40;
  --surface-2: #1a345b;
  --surface-3: #031228;
  --surface-4: #1a345b;
  --surface-5: #f6f6f6; /* white smoke */
  --surface-6: #091f40;
  --surface-7: rgba(26, 26, 26, 0.9);
  --surface-8: #000000; /* black */
  --surface-9: rgba(0, 0, 0, 0.9);
  --surface-10: #323232; /* night rider black */
  --surface-11: rgba(20, 46, 57, 0.8); /* opaque-dark-blue */
  --surface-12: #1a345b; /* panel */
  --surface-13: #142744; /* panel active */
  --surface-14: #1a51a3;
  --element-1: #ffffff;
  --element-1-2: rgba(0, 0, 0, 0.2);
  --element-1-3: rgba(0, 0, 0, 0.3);
  --element-1-5: rgba(0, 0, 0, 0.5);
  --element-2: #fafafa;
  --element-3: #ffffff;
  --element-4: #eee;
  --element-4-0: rgba(255, 255, 255, 0); /* transparent element */
  --element-5: #999999; /* nobel gray */
  --element-6: #728f98; /* gothic blue */
  --element-7: #c5203e; /* hash flag red */
  --element-8: rgba(73, 71, 71, 0.15);
  --element-9: #969595; /* light nobel gray */
  --element-10: #dadada; /* gainsboro gray */
  --element-11: #eeeeee; /*  silver */
  --element-12: #1a345b;
  --element-13: #f3eded; /* medium gray */
  --element-14: #ecf0f1; /* bright gray */
  --element-15: #be1635; /* pink red */
  --element-16: #091f40;
  --element-17: #121212;
  --element-18: #eba31d;
  --primary-1: #203ec5; /* hash flag red */
  --primary-2: #79c5f5; /* light blue */
  --primary-3: ##e9b9c2;
  --tertiary-1: #e0e0e0; /* statue gray */
  --tertiary-2: #d0d0d0; /* concrete gray */
  --tertiary-3: #4ba3c4; /* slushy blue */
  --tertiary-4: rgba(0, 0, 0, 0.1);
  --tertiary-5: #1a3843; /* space blue */
  --tertiary-6: rgba(35, 76, 91, 1); /* dark greyish blue */
  --tertiary-6-6: rgba(35, 76, 91, 0.6); /* dark greyish blue */
  --tertiary-6-7: rgba(35, 76, 91, 0.7); /* dark greyish blue */
  --tertiary-6-8: rgba(35, 76, 91, 0.8); /* dark greyish blue */
  --tertiary-7: #e0e0e0; /* teal blue */
  --tertiary-8: #29596b; /* dull blue */
  --tertiary-9: #336f85; /* strong blue */
  --tertiary-10: #ffcc00; /* tangerine yellow */
  --tertiary-11: #eba31d; /* cerulean blue */
  --tertiary-14: #316b80; /* ocean blue */
  --tertiary-15: #eba31d; /* tangaroa blue */
  --tertiary-17: #eeeeee; /* charcoal */
  --tertiary-18: #eba31d;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--surface-1);
  color: var(--element-2);
  font-family: 'Gotham', sans-serif;
  font-size: 0.9375rem; /*15px*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-weight: 400;
  line-height: 29px;
  overflow-scrolling: touch;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--element-3);
  font-family: 'Gotham', sans-serif;
}
.font-alt {
  font-family: 'Gotham', sans-serif;
}
.logo_holder {
  background: var(--surface-1);
  border-radius: 50%;
  height: auto;
  width: 45px;
}
h1 {
  font-size: 3.75rem; /*60px*/
  font-weight: 600;
  margin-top: 0;
}
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 2.625rem; /*42px*/
  }
}
h2 {
  font-size: 2.625rem; /*42px*/
}
@media only screen and (max-width: 500px) {
  h2 {
    font-size: 1.875rem; /*30px*/
  }
}
h3 {
  font-size: 1.875rem; /*30px*/
}
@media only screen and (max-width: 500px) {
  h3 {
    font-size: 1.3125rem; /*21px*/
  }
}
h4 {
  font-size: 1.3125rem; /*21px*/
}
@media only screen and (max-width: 500px) {
  h4 {
    font-size: 0.9375rem; /*15px*/
  }
}
h5 {
  font-size: 0.9375rem; /*15px*/
  font-weight: bold;
}
@media only screen and (max-width: 500px) {
  h5 {
    font-size: 0.625rem; /*10px*/
  }
}
h6 {
  font-size: 0.75rem; /*7.5px*/
}
p {
  font-size: 0.9375rem; /*15px*/
}
small {
  font-size: 0.75rem; /*7.5px*/
}
strong {
  font-weight: 700;
}
b {
  font-weight: 200 !important;
}
.donate-span {
  color: var(--tertiary-15);
}
.donate-span:hover {
  color: var(--primary-2);
}
.blog-span {
  color: var(--tertiary-18);
}
.blog-span:hover {
  color: var(--primary-2);
}
.lead {
  font-size: 0.9375rem; /*15px*/
  font-weight: 400;
  line-height: 1.75;
}
.lead:first-letter {
  float: left;
  font-size: 3.75rem; /*60px*/
  font-weight: 800;
  line-height: 4.375rem;
  margin-right: 12px;
}
.quote {
  padding: 0 0.707em;
  text-indent: -0.707em;
}
a:hover {
  text-decoration: none;
}
.section {
  position: relative;
  z-index: 5;
}
.bg-default {
  background: var(--surface-1);
}
.bg-dark {
  background: var(--surface-6);
}
.no_left_pad {
  padding-left: 0;
}
.no_right_pad {
  padding-right: 0;
}
.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h5,
.bg-dark h6,
.bg-dark p,
.footer-form-label {
  color: var(--element-4);
}
.bg-light h1,
.bg-light h2,
.bg-light h3,
.bg-light h4,
.bg-light h5,
.bg-light h6,
.bg-light p {
  color: var(--element-3);
}
.bg-light {
  background: var(--surface-3);
}
.pad-extra {
  padding: 70px 0;
}
.pad-regular {
  padding: 90px 0;
}
.small-top-pad {
  padding-bottom: 45px;
  padding-top: 45px;
}
h1.small-top-pad {
  font-size: 1.5rem;
}
.mentor-heading {
  font-size: 1.4;
}
.featured-heading {
  color: var(--element-1);
  margin-bottom: 45px;
  position: relative;
  text-transform: uppercase;
}
.featured-heading h2 {
  font-family: 'Gotham';
  font-size: 1.875rem; /*30px*/
  font-weight: 900;
  line-height: 2.25rem; /*36px*/
  margin: 0;
  padding: 0;
}
p.featured-content {
  color: var(--element-5);
  margin-bottom: 45px;
}
.featured-heading h3 {
  font-family: 'Gotham';
  font-size: 1.3125rem; /*21px*/
  font-weight: 900;
  line-height: 2.25rem; /*36px*/
  margin: 0;
  padding: 0;
}
.bg-dark .featured-heading::after {
  background-color: var(--surface-2);
}
.bg-light .featured-heading::after {
  background-color: var(--surface-6);
}
blockquote {
  border: 0;
  font-family: 'Gotham';
  margin: 85px 10px;
  padding: 0.5em 10px;
  quotes: '“' '”' '‘' '’';
}
blockquote p {
  display: inline;
  font-size: 1.3125rem; /*21px*/
  font-style: italic;
}
.dark_color {
  color: var(--element-3);
}
ul {
  padding-left: 0;
}
ul li {
  list-style: none;
}
.form-control {
  background-color: var(--surface-4);
  color: var(--element-1);
  outline: 1px solid var(--element-6);
  border-radius: 0;
  box-shadow: none;
  height: auto;
  padding: 12px 24px;
  width: 100% !important;
}
.form-control:focus {
  outline: 1px solid var(--element-1);
}
.form-control::placeholder {
  color: var(--element-1);
  padding-top: 0.5rem;
}
input[type='text']:read-only {
  background-color: var(--surface-4);
}
.input-group-addon {
  background-color: var(--surface-6);
  border: 1px solid var(--element-3);
  border-radius: 0;
  color: var(--element-4);
}
.icon-preview ul {
  list-style: none;
  padding: 0;
}
.icon-preview ul li {
  display: inline-block;
  font-size: 1.375rem; /*22px*/
  padding: 20px 0;
  text-align: center;
  vertical-align: middle;
  width: 60px;
}
ul.plain-list {
  margin-left: 30px;
}
ul.plain-list li {
  list-style: initial;
}
ol.plain-list ul li {
  list-style: initial;
}
ol.plain-list ul {
  margin-left: 20px;
}
h1.bold_404 {
  font-size: 11.25rem; /*180px*/
  font-weight: bold;
  margin-top: -30px;
}
#loader-wrapper {
  background-color: var(--surface-1);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}
#loader {
  /* background-image: url(../../images/Preloader_1.gif); */
  /* background-image: url(../../images/flag.gif); */
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
}
.btn {
  border-radius: 2px;
  font-size: 0.875rem; /*14px*/
  padding: 12px 0;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 150px;
  text-transform: capitalize;
}
.btn-round {
  border-radius: 30px;
}
.btn-charity-default {
  background-color: var(--primary-1);
  border: 1px solid var(--element-3);
  border-radius: 4px;
  color: var(--element-4);
  font-weight: 700;
  text-transform: capitalize;
}
.btn-charity-default:hover {
  background-color: var(--element-15);
  border: 1px solid var(--element-7);
  color: var(--element-4);
}
.btn-charity-default-o {
  background-color: transparent;
  border: 1px solid var(--element-3);
  color: var(--element-4);
}
.btn-charity-default-o:hover {
  background-color: var(--surface-11);
  color: var(--element-3);
}
.btn-charity-dark-o {
  background-color: transparent;
  border: 1px solid var(--element-3);
  color: var(--element-3);
}
.btn-charity-dark-o:hover {
  background-color: var(--surface-6);
  color: var(--element-4);
}
.btn-subscribe {
  background-color: var(--surface-6);
  color: var(--element-4);
  margin-top: 8px;
  font-weight: 700;
}
.btn-subscribe:hover {
  background-color: var(--element-15);
  border: 1px solid var(--element-3);
  color: var(--element-4);
}
.btn.btn-block {
  width: 100%;
}
.btn-group-lg > .btn,
.btn-lg {
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.3333333;
  padding: 10px 16px;
  width: auto;
}
.btn-group-sm > .btn,
.btn-sm {
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  padding: 5px 10px;
  width: auto;
}
.btn-group-xs > .btn,
.btn-xs {
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  padding: 1px 5px;
  width: auto;
}
.main-navigation {
  border-bottom-color: transparent;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main-navigation .navbar-brand {
  height: auto;
  padding: 15px 15px 0 15px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main-navigation .navbar-brand a {
  color: var(--element-4);
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
.main-navigation .navbar-brand a em {
  background-color: var(--element-1-3);
  border-radius: 2px;
  box-sizing: content-box;
  display: inline-block;
  font-style: normal;
  height: 20px;
  letter-spacing: 0;
  margin: 0 5px;
  padding: 5px;
  text-align: center;
  text-transform: lowercase;
  width: 8px;
}
.main-navigation .navbar-brand a:focus,
.main-navigation .navbar-brand a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 400px) {
  .main-navigation .navbar-brand a {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2.2px;
  }
}

.main-navigation .navbar-toggle {
  border-radius: 2px;
  color: var(--element-4);
  font-size: 28px;
  padding: 0 15px;
}
.main-navigation .navbar-nav > .dropdown.open > a {
  background: transparent;
}
@media only screen and (max-width: 767px) {
  .main-navigation .navbar-nav > .dropdown.open > a {
    border-bottom: 1px solid var(--element-8);
  }
}
.main-navigation .navbar-nav > .dropdown.open > a span {
  background: transparent;
  color: var(--element-4);
}
@media only screen and (max-width: 767px) {
  .main-navigation .navbar-nav > .dropdown.open > a span {
    background: transparent;
    color: var(--element-4);
  }
}
.main-navigation .navbar-nav li a {
  color: var(--element-4);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: -1px;
  padding: 20px 12px 20px 12px;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media only screen and (min-width: 1500px) {
  .main-navigation .navbar-nav li a {
    padding: 20px 15px 20px 15px;
  }
}
@media only screen and (max-width: 767px) {
  .main-navigation .navbar-nav li a {
    border-bottom: 1px solid var(--element-8);
  }
}
.main-navigation .navbar-nav li a span {
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main-navigation .navbar-nav li a:hover,
.main-navigation .navbar-nav li a:focus {
  background-color: var(--surface-1-0);
  /* background-color: red; */
}
.main-navigation .navbar-nav li a:hover span,
.main-navigation .navbar-nav li a:focus span {
  background: transparent;
  border-bottom: 1px solid var(--surface-5);
  color: var(--element-11);
  padding-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .main-navigation .navbar-nav li a:hover span,
  .main-navigation .navbar-nav li a:focus span {
    background: transparent;
    color: var(--element-4);
  }
}
.main-navigation .navbar-nav li.active a {
  background-color: var(--transparent-white);
}
.main-navigation .navbar-nav li.active a span {
  background: var(--surface-1);
  color: var(--element-1);
}
.main-navigation .dropdown-toggle:after {
  content: '\f107';
  display: block;
  font: normal normal normal 0.875rem/1 FontAwesome; /*14px/1*/
  font-size: 9px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: -6px;
  position: absolute;
  right: 0;
  text-rendering: auto;
  top: 67%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (max-width: 767px) {
  .main-navigation .dropdown-toggle:after {
    right: 7px;
  }
}
.main-navigation .dropdown-toggle.open:after {
  content: '\f106';
}
@media (max-width: 767px) {
  .main-navigation .open > .dropdown-toggle:after {
    content: '\f106';
  }
}
.main-navigation .dropdown-menu {
  background: var(--surface-9);
  border: 0;
  border-radius: 0;
  box-shadow: none;
  min-width: 180px;
  padding: 0;
}
.main-navigation .dropdown-menu li a {
  border-bottom: 1px solid var(--element-8);
  color: var(--element-4-0);
  font-size: 11px;
  letter-spacing: 2px;
  line-height: 1px;
  padding: 25px 20px;
}
.main-navigation .dropdown-menu li a:hover {
  background: var(--surface-8);
  border-bottom-color: var(--element-8);
  color: var(--element-4);
}
.main-navigation .dropdown-menu li.open > a {
  background: var(--surface-8);
  color: var(--element-4);
}
.main-navigation .dropdown-menu li.open > a:hover {
  color: var(--element-4);
}
.main-navigation .dropdown-menu.left-side .dropdown-menu {
  border: 0;
  border-right: 1px solid var(--element-8);
  left: auto;
  right: 100%;
}
.main-navigation .dropdown-menu .dropdown-menu {
  border-left: 1px solid var(--element-8);
  left: 100%;
  margin-top: 0;
  right: auto;
  top: 0;
}
@media only screen and (max-width: 767px) {
  .main-navigation .dropdown-menu .dropdown-menu {
    padding-left: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .main-navigation .dropdown-menu .dropdown-toggle:after {
    content: '\f105';
    right: 8px;
    top: 50%;
  }
}
.navbar-solid {
  background-color: var(--surface-6);
}
.navbar-solid .navbar-brand {
  padding: 10px 15px 5px 15px;
}
.navbar-solid .dropdown-toggle:after {
  top: 51%;
}
@media only screen and (max-width: 1200px) {
  .main-navigation .navbar-nav > li > a {
    letter-spacing: 1px;
    font-size: 11px;
    padding: 20px 6px 18px;
  }
}
@media only screen and (max-width: 767px) {
  .main-navigation .navbar-nav > li > a {
    padding: 12px 12px 12px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-collapse {
    background-color: var(--surface-9);
    width: 100vw;
  }
}
.nav-tabs {
  margin-right: 2px;
}
.nav-tabs > li > a {
  border-radius: 0;
  color: var(--element-9);
  margin: 0;
  padding: 10px 22px;
}
.tab-content {
  border: 1px solid var(--element-10);
  border-top-color: transparent;
  margin-right: 3px;
  padding: 20px;
}
.header-fullscreen {
  height: 100vh !important;
  min-height: 400px;
  position: relative;
  width: 100%;
}
.header-classic {
  height: auto !important;
  padding: 200px 0 90px;
}
h2,
h3 {
  margin: 0;
}
.bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slim-bg {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  position: relative;
}
.overlay:after {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.grey:after {
  background-color: var(--element-1-5);
}
.parallax-hero {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}
.wrapper-table {
  display: table;
  height: 100%;
  width: 100%;
}
.wrapper-table > .valign-center {
  display: table-cell;
  vertical-align: middle;
}
.site-header {
  overflow: hidden;
  position: relative;
}
.site-header .intro.intro-slider .btn-charity-default {
  margin: 0;
}
.site-header .intro.intro-slider h1 {
  margin-bottom: 10px;
}
.site-header .intro.intro-slider p.subtitle {
  margin-bottom: 20px;
}
.site-header .intro {
  color: var(--element-4);
  text-transform: uppercase;
}
.site-header .intro .btn-charity-default {
  margin-left: 22px;
  margin-top: -14px;
}
@media (max-width: 767px) {
  .site-header .intro .btn-charity-default {
    margin: 0;
  }
}
.site-header .intro .intro-text-wrap {
  background: var(--element-1-2);
  display: inline-block;
  margin-top: 18%;
  padding: 48px 53px;
}
.site-header .intro h2 {
  color: var(--element-4);
  font-family: 'Gotham';
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 22px;
  /* margin-bottom: 1px; */
  word-spacing: 5px;
}

@media (max-width: 767px) {
  .site-header .intro h1.clip {
    font-size: 1.3125rem; /*21px*/
    text-align: center;
  }
}
.site-header .intro p.subtitle {
  display: inline-block;
  font-size: 1.875rem; /*30px*/
  font-weight: 400;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .site-header .intro p.subtitle {
    margin-bottom: 20px;
  }
}
.site-header .intro .arrow-down {
  display: block;
  left: 50%;
  margin-top: 30px;
  position: absolute;
  top: 85%;
  -webkit-transform: translateX(-9px);
  -ms-transform: translateX(-9px);
  transform: translateX(-9px);
  z-index: 3;
}
@media only screen and (max-width: 767px) {
  .site-header .intro .arrow-down {
    bottom: 0;
  }
}
.site-header .intro .arrow-down a {
  display: inline-block;
}
.site-header .intro .arrow-down a:hover {
  text-decoration: none;
}
.site-header .intro .arrow-down a i {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  color: var(--element-4);
  font-size: 2em;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.inner-header {
  overflow: hidden;
  padding: 150px 0 100px 0;
  text-transform: uppercase;
  position: relative;
}
.inner-header h2 {
  color: var(--element-4);
  font-family: 'Gotham';
  font-weight: 700;
  margin-top: 5px;
  position: relative;
  z-index: 2;
}
.inner-header .breadcrumb {
  background-color: transparent;
  color: var(--element-4);
  float: none;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  z-index: 2;
}
.inner-header .breadcrumb .page-active {
  color: var(--primary-1);
}
.inner-header .breadcrumb a {
  color: inherit;
  font-family: 'Gotham';
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.inner-header .breadcrumb a:hover,
.inner-header .breadcrumb a:active,
.inner-header .breadcrumb a:focus {
  color: var(--element-4);
  text-decoration: none;
}
.inner-header .breadcrumb a i {
  margin-left: 5px;
  margin-right: 5px;
}
.flexslider {
  border: 0;
  margin: 0;
}
.flexslider .slides > li {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .flexslider .flex-direction-nav a {
    display: none;
  }
}
.flexslider .flex-direction-nav a::before {
  color: var(--element-4);
  font-family: 'Ionicons';
  text-shadow: none;
}
.flexslider .flex-direction-nav a.flex-prev::before {
  content: '\f124';
}
.flexslider .flex-direction-nav a.flex-next::before {
  content: '\f125';
}
.flexslider .intro h1 {
  color: var(--element-4) !important;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0;
  word-spacing: 2px;
}
.flexslider .intro p {
  margin-bottom: 20px;
}
.site-header.flexslider .intro {
  position: relative;
  z-index: 1000;
}
.site-header.flexslider .btn-charity-default {
  margin: 0;
  margin-top: 20px;
}
.site-header.flexslider .btn-charity-default-o {
  margin: 20px 20px 0 0;
}
.site-header.classic .intro .intro-text-wrap {
  margin-top: 0;
}
.our_story_content {
  padding: 70px 90px;
}
.our_story_content h2 {
  font-size: 1.875rem; /*30px*/
  line-height: 36px;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .our_story_content {
    padding: 40px 15px;
  }
}
#services,
#process {
  padding: 75px 0 30px 0;
}
#services h3,
#process h3 {
  color: var(--element-3);
  font-size: 1.75rem; /*28px*/
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}
#services .section-description,
#process .section-description {
  color: var(--element-5);
}
#services-wiget,
#process-wiget {
  border-bottom: 2px solid var(--surface-3);
  padding: 25px 0 90px 0;
}
#services-wiget .services-wigets-icon i,
#services-wiget .process-wigets-icon i,
#process-wiget .services-wigets-icon i,
#process-wiget .process-wigets-icon i {
  color: var(--primary-1);
  font-size: 6em;
}
#services-wiget .services-wigets-heading,
#services-wiget .process-wigets-heading,
#process-wiget .services-wigets-heading,
#process-wiget .process-wigets-heading {
  color: var(--element-3);
  font-size: 1.25rem; /*20px*/
  font-weight: bold;
  margin: 25px 0 15px 0;
  text-transform: uppercase;
}
.cause_title {
  font-size: 1.5rem; /*24px*/
}
.cause_meta ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.causes-card .btn-charity-default {
  margin-left: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.causes-card h2 {
  margin-bottom: 40px;
}
.causes-card h3 {
  font-size: 1.3125rem; /*21px*/
  margin-bottom: 5px;
}
.causes-card h4 {
  font-family: 'Gotham';
  font-weight: 800;
}
.cause_excerpt p {
  margin-bottom: 50px;
}
.cause_meta ul li {
  color: var(--element-9);
  display: inline;
  font-size: 0.875rem; /*14px*/
  margin-right: 60px;
  padding-right: 15px;
}
.progress-box {
  margin-top: 40px;
}
.goal_value {
  margin-bottom: 20px;
}
.goal_value p {
  color: var(--element-9);
  font-family: 'Gotham';
  font-weight: 700;
}
.goal_value p span {
  color: var(--primary-1);
  font-weight: bold;
}
.cause_content hr {
  color: var(--element-4);
  margin: 14px 0;
}
.progress {
  background-color: var(--element-5);
  border-radius: 0;
  box-shadow: none;
  height: 5px;
  margin-bottom: 44px;
  overflow: visible;
}
.progress-bar {
  background-color: var(--element-7);
  color: var(--element-3);
  position: relative;
  -webkit-transition: width 3s cubic-bezier(0, 0, 0.2, 1);
  transition: width 3s cubic-bezier(0, 0, 0.2, 1);
  width: 0;
}
.progress-bar > span {
  background-color: var(--element-7);
  display: inline-block;
  font-weight: 600;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 6px;
  z-index: 1;
}
.progress-counter {
  background-color: var(--surface-10);
  color: var(--element-4);
  font-size: 0.625rem; /*10px*/
  font-weight: 300;
  left: -webkit-calc(76% - 52px);
  left: calc(76% - 52px);
  padding: 8px 10px 5px;
  position: relative;
  top: -10px;
}
.cause_image_holder {
  margin-bottom: 50px;
}
.cause_section_content p:last-child {
  margin-bottom: 50px;
}
.cause_single .btn-charity-default {
  margin-bottom: 150px;
  margin-left: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.cause_single .btn-charity-default:last-child {
  margin-bottom: 0;
}
.cause_single .goal_value {
  margin-bottom: 45px;
}
.cause_single .cause_title {
  margin-bottom: 25px;
}
.cause_single h4 {
  font-family: 'Gotham';
  font-size: 1.875rem; /*30px*/
  font-weight: 800;
}
.cause_single .card_image_holder {
  margin-bottom: 25px;
}
.cause_single p {
  color: var(--element-3);
}
.cause_single .small_event_card .event_meta ul li:first-child {
  margin-left: 0;
}
.cause_single .small_event_card .event_meta ul li {
  color: var(--element-5);
  font-family: 'Gotham';
  font-size: 0.9375rem; /*15px*/
  margin-left: 40px;
}
.dg-wrapper a {
  moz-transform: translateX(0px) translateZ(0px) rotateY(0deg);
  -webkit-transform: translateX(0px) translateZ(0px) rotateY(0deg);
  transform: translateX(0px) translateZ(0px) rotateY(0deg);
}
.event_content {
  text-align: center;
}
.event_content .event_meta a {
  margin-right: 10px;
}
.event_meta ul {
  list-style: none;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}
.event_meta ul li {
  color: var(--element-5);
  display: inline;
  font-size: 0.875rem; /*14px*/
}
.event_meta ul li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.event_meta ul li a:hover {
  color: var(--primary-1);
}
.bg-dark .event_meta ul li {
  color: var(--element-4);
}
.countdown-box {
  display: inline-block;
  margin: 20px;
  position: relative;
}
.countdown-box::after {
  color: var(--element-4);
  content: ':';
  font-size: 1.875rem; /*30px*/
  position: absolute;
  right: -25px;
  top: -webkit-calc(50% - 30px);
  top: calc(50% - 30px);
}
.countdown-box:last-child::after {
  content: '';
}
.countdown-box:nth-child(2)::after {
  content: ':';
}
.countdown-box .counter {
  border: 1px solid var(--element-4);
  color: var(--element-4);
  display: block;
  font-size: 1.3125rem; /*21px*/
  line-height: 2.2;
  width: 75px;
}
.card_image_holder {
  margin-bottom: 20px;
  position: relative;
}
.ticket_price {
  background: var(--primary-1);
  bottom: 0;
  color: var(--element-4);
  font-size: 1.3125rem; /*21px*/
  font-weight: bold;
  height: 120px;
  padding-top: 25px;
  position: absolute;
  text-align: center;
  width: 100px;
}
.ticket_price i {
  color: var(--element-4);
  display: block;
  font-size: 1.875rem; /*30px*/
  margin-bottom: 0;
}
.event_meta ul li {
  display: inline;
  font-size: 0.875rem; /*14px*/
}
.event_meta ul li span {
  color: var(--element-5);
  padding-right: 10px;
}
.event_block {
  margin-bottom: 100px;
}
.event_block .event_footer h4 {
  font-family: 'Gotham';
  font-size: 1.875rem; /*30px*/
  font-weight: 900;
}
.event_block h2 {
  color: var(--element-3);
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}
.small_event_card .event_meta ul li {
  font-size: 0.75rem; /*12px*/
}
#newsletter_card {
  /* background-image: url('../../images/newsletter-bg.png'); */
  background-color: var(--surface-3);
}
.newsletter_wrapper {
  background: var(--primary-1);
  padding: 10px;
}
.newsletter_wrapper .form-group {
  margin-bottom: 0;
}
.newsletter_inner_wrapper {
  border: 2px dashed var(--element-3);
  padding: 50px 20px;
}
.newsletter_inner_wrapper h3 {
  font-weight: bold;
  line-height: 100%;
  margin-top: 5px;
}
.newsletter_inner_wrapper button#subscribe-button {
  margin-top: 0;
}
@media (max-width: 768px) {
  .subscribe-button_box {
    text-align: center;
  }
}
#get-involved h3 {
  font-weight: 700;
  margin-bottom: 45px;
  margin-top: 30px;
}
#get-involved p {
  color: var(--element-3);
}
#get-involved .get-started-btn {
  margin-left: 0;
  margin-top: 30px;
  text-transform: uppercase;
}
#get-involved .call-to-action-small h3 {
  margin: 0;
}
#get-involved .logos {
  background-color: var(--surface-1);
}
.post {
  margin: 88px auto;
}
.post .after {
  position: relative;
}
.post:first-child {
  margin-top: 30px;
}
.post .entry-meta {
  color: var(--element-3);
  font-size: 0.9375rem; /*15px*/
}
.post .entry-meta .btn-charity-default {
  margin-left: 0;
  margin-top: 0;
}
.post .entry-meta .btn-charity-dark-o {
  border: 2px solid var(--element-3);
  color: var(--element-3);
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.post .entry-meta .btn-charity-dark-o:hover {
  color: var(--element-4);
}
.post .entry-meta .entry-meta-data {
  margin: 10px 0;
}
.post .entry-date {
  color: var(--element-3);
  margin-right: 20px;
}
.post .author {
  color: var(--element-3);
  padding-right: 20px;
}
.author .blog-author {
  color: var(--element-1);
}
.post .author a {
  color: var(--primary-1);
}
.post .cat-links {
  line-height: 20px;
  padding-right: 5px;
}
.post i {
  color: var(--element-5);
  margin-right: 5px;
}
.post .cat-links a {
  color: var(--element-5);
}
.blog-list-icon {
  margin-right: 3px;
}
.post .entry-title {
  font-family: 'Gotham';
  font-size: 1.875rem; /*30px*/
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 30px;
}
.entry-meta h2.entry-title {
  font-size: 2.25rem; /*36px*/
}
.post .entry-title a:hover {
  color: var(--element-3);
}
.post .link-comment {
  float: right;
}
.post .link-comment span {
  padding: 12px 17px;
}
.post .post-thumbnail {
  margin-bottom: 30px;
  position: relative;
}
.post p span {
  color: var(--primary-2);
}
.post .post-thumbnail span {
  background: var(--tertiary-15);
  background: var(--tertiary-16);
  color: var(--element-4);
  font-size: 0.875rem; /*14px*/
  font-weight: bold;
  left: 0;
  padding: 20px 28px;
  position: absolute;
  right: 0;
}
.post .post-thumbnail .post-thumbnail-image {
  background: var(--surface-11);
  color: var(--element-4);
  display: block;
  height: 100%;
  opacity: 0;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
}
.post .post-thumbnail .post-thumbnail-image span {
  display: block;
  font-size: 0.9375rem; /*15px*/
  font-weight: bold;
  left: 0;
  margin: 0 auto;
  margin-top: -18px;
  padding: 15px 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  width: 36%;
}
.post .post-thumbnail .post-thumbnail-image span:before,
.post .post-thumbnail .post-thumbnail-image span:after {
  background: var(--surface-1);
  content: '';
  height: 1px;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
}
.post .post-thumbnail:hover .post-thumbnail-image {
  opacity: 0.9;
}
.post .post-thumbnail:hover .post-thumbnail-image span:before {
  opacity: 0.9;
  top: 0;
}
.post .post-thumbnail:hover .post-thumbnail-image span:after {
  bottom: 0;
  opacity: 0.9;
}
.post .entry-content {
  color: var(--element-3);
  margin: 20px 0 30px 0;
}
.widget {
  margin-bottom: 50px;
}
.widget h4 {
  font-family: 'Gotham';
  font-size: 1.875rem; /*30px*/
  font-weight: 900;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.search-widget {
  margin-top: 110px;
}
.search-widget .input-group-addon {
  background-color: transparent;
  border: 1px solid var(--tertiary-1);
  border-left: transparent;
  color: var(--tertiary-2);
}
.search-widget .input-group-addon i {
  color: var(--tertiary-2);
}
.categories-wiget .category-list .list-group-item {
  color: var(--tertiary-3);
  margin-bottom: 10px;
  padding: 5px 15px;
}
.first-cat-col {
  padding-left: 0;
}
.nav-tabs > li {
  background-color: var(--element-6);
  width: 50%;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: var(--surface-6);
  border: transparent;
  border-bottom-color: transparent;
  color: var(--element-4);
  cursor: default;
}
.nav-tabs > li > a {
  border: none;
  border-bottom-color: transparent;
  border-radius: 0;
  color: var(--element-4);
  margin: 0;
  padding: 10px 22px;
}
.list-group-item {
  background-color: var(--surface-1);
  border: none;
  margin-bottom: -1px;
  padding: 37px 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}
a.list-group-item:focus,
a.list-group-item:hover {
  background-color: var(--surface-6);
  color: var(--element-4);
}
a.list-group-item:focus,
a.list-group-item:hover .media-heading {
  color: var(--element-4);
}
.list-group {
  margin-bottom: 0;
}
.list-group-item:last-child {
  border-bottom: none;
}
.tab-content {
  border-top: none;
  height: auto;
  padding: 0;
}
.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.tag-widget .tags a {
  background-color: var(--element-6);
  border-radius: 5px;
  color: var(--element-4);
  display: inline-block;
  font-size: 0.9375rem; /*15px*/
  font-style: italic;
  letter-spacing: 1px;
  line-height: 22px;
  margin: 5px 0;
  padding: 10px 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.tag-widget .tags a:hover {
  background-color: var(--surface-6);
  color: var(--element-4);
}
.align-left {
  float: left;
  margin: 0 20px 20px 0;
}
.blog-intro h2 {
  font-family: 'Gotham';
  font-size: 1.875rem; /*30px*/
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 45px;
  text-transform: uppercase;
}
#blog-page {
  margin-top: 110px;
}
#blog-page .search-widget {
  margin-top: 0;
}
#blog-page h2:first-child {
  margin-top: 0;
}
#blog-page .post:first-child {
  margin-top: 0;
}
#blog-page .entry-meta-data,
#blog-page p {
  margin-bottom: 30px;
}
#blog-page .single-post-tag {
  border-top: 1px solid var(--tertiary-4);
  padding-top: 30px;
}
.gallery h2 {
  margin-bottom: 40px;
}
.gallery-grid .item {
  margin-bottom: 30px;
  position: relative;
}
.gallery-grid .item .img-hover {
  /* background: url("../../images/gallery/gallery-hover.png") center center
  no-repeat rgba(0, 0, 0, 0.6);*/
  bottom: 0;
  cursor: pointer;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}
.gallery-grid .item:hover .img-hover {
  opacity: 1;
}
.gallery-3-col .item {
  background-clip: padding-box;
  border: 5px solid transparent;
  box-sizing: border-box;
  width: 32.33% !important;
}
ul.gallery-filter {
  background-color: var(--surface-6);
  margin-bottom: 40px;
  padding: 0;
}
ul.gallery-filter li {
  display: inline;
}
ul.gallery-filter li a {
  border-radius: 0;
  color: var(--element-4);
  font-weight: bold;
  padding: 10px 20px;
}
ul.gallery-filter li.current a,
ul.gallery-filter li a:hover {
  background: var(--primary-1);
  color: var(--element-3);
}
textarea.form-control {
  height: 150px;
  margin-bottom: 30px;
}
label {
  font-weight: 400;
}
.map-default-height {
  min-height: 450px;
}
#contact-wiget {
  padding-bottom: 90px;
}
.contactus-brief {
  margin-bottom: 50px;
}
.contactus-brief > h2 {
  color: var(--element-3);
  font-family: 'Gotham';
  font-size: 1.875rem; /*30px*/
  font-weight: 900;
  margin-bottom: 45px;
}
.contactus-brief > .section-description {
  color: var(--element-1);
}
.contactus-brief > .section-description > a {
  color: var(--primary-3);
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}
.contact-us-wiget-section,
.contact-wigets-description {
  color: var(--element-3);
}
.contact-wigets-description > p {
  color: var(--element-5);
  line-height: 1.8;
  margin: 0;
}
.contact-wigets-area h4 {
  font-family: 'Gotham';
  font-size: 1.3125rem; /*21px*/
  font-weight: 700;
  margin-bottom: 22px;
}
.contact-wigets-area .btn.btn-charity-dark-o {
  border: 2px solid var(--tertiary-5);
  border-radius: 2px;
  font-weight: 700;
  margin-top: 45px;
}
.contact-wigets-area .btn {
  margin-top: 20px;
}
.icon-on-btn {
  padding-right: 10px;
}
.dark-text {
  color: var(--element-3);
}
#contact-form {
  padding-bottom: 90px;
}
.form-control-dark {
  border: 2px solid var(--element-5);
  border-radius: 2px;
}
textarea:focus,
input[type='text']:focus,
input[type='textarea']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
uneditable-input:focus {
  border-color: var(--tertiary-6-8);
  box-shadow: 0 1px 1px var(--tertiary-6-7) inset, 0 0 8px var(--tertiary-6-6);
  outline: 0 none;
}
.story-title {
  font-family: 'Gotham';
  font-weight: 900;
  margin-bottom: 48px;
  margin-top: 0;
}
.success-story-img img {
  margin-bottom: 56px;
}
.vwc-animated-gif {
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}
@media (max-width: 991px) {
  .vwc-animated-gif {
    margin-bottom: 30px;
  }
}

.vwc-animated-gif i {
  color: var(--element-3);
  font-size: 3rem; /*48px*/
  left: 50%;
  margin-left: -20px;
  margin-top: -24px;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.vwc-animated-gif:hover i {
  color: var(--element-1);
}
.success-story p {
  color: var(--element-3);
  font-size: 0.9375rem; /*15px*/
}

.success-story p.story-first {
  font-weight:700;
  font-size: 1.125rem;
  color: var(--element-3);
}

.success-story-img-content p {
  color: var(--element-3);
}

#team {
  padding: 30px 0 50px 0;
}
.meet-us-heading {
  font-family: 'Gotham';
  font-weight: 900;
  margin-bottom: 35px;
}
.team-wiget {
  margin-bottom: 25px;
  position: relative;
}
.personal-info {
  background-color: var(--surface-6);
  bottom: 0;
  color: var(--element-4);
  left: 0;
  padding: 10px 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.personal-info > .title,
.personal-info .designation {
  line-height: 1.7;
  margin: 0;
}
.personal-info > .designation {
  text-transform: uppercase;
}
.meet-social {
  bottom: 90px;
  left: 50%;
  margin-left: -85px;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.team-wiget:hover .meet-social {
  opacity: 1;
}
.meet-social i {
  background-color: var(--surface-6);
  border-radius: 50%;
  color: var(--element-4);
  padding: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.meet-social i:hover {
  background-color: var(--primary-1);
  cursor: pointer;
}
.meet-social i.fa-facebook-f {
  text-align: center;
  width: 55px;
}
.faq h2 {
  font-family: 'Gotham';
  font-size: 1.875rem; /*30px*/
  font-weight: 900;
  margin-bottom: 40px;
}
.faq p {
  color: var(--tertiary-7);
}
.faq_list .panel-default {
  border-radius: 0;
}
.faq_list .active .panel-heading {
  background: var(--surface-6);
}
.faq_list .active .panel-heading a {
  color: var(--element-4);
  background-color: var(--surface-13);
}
.faq_list .panel-heading {
  background: var(--element-4);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
}
.faq_list .panel-body {
  padding: 40px 15px;
}
.faq_list .panel-body ul li {
  list-style-type: disc;
  margin: 0 3rem;
}
.faq_list .panel-heading a {
  color: var(--element-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9375rem;
  font-weight: bold;
  line-height: 1.875rem; /*30px*/
  padding: 10px 15px;
  width: 100%;
  background-color: var(--surface-12);
}
.panel {
  background-color: var(--surface-12);
}
.plus {
  color: var(--element-3);
}
.minus {
  color: var(--element-4);
}
.panel-heading {
  padding: 0;
}

.faq_list .panel-title {
  font-family: 'Gotham';
  font-weight: 800;
}
.faq-short-brief {
  margin-bottom: 80px;
}
.fluid-grid {
  height: 200px;
  padding: 50px;
}
.fluid-grid h2 {
  color: var(--element-4);
  font-family: 'Gotham', sans-serif;
  font-size: 2.625rem; /*42px*/
  margin: 0;
}
.fluid-grid h3 {
  color: var(--element-4);
  font-family: 'Gotham', sans-serif;
  font-size: 1.3125rem; /*21px*/
}
.fluid-grid:hover {
  cursor: pointer;
  color: var(--element-4);

}
.fluid-grid h2,
.fluid-grid h3 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.fluid-grid:hover h2,
.fluid-grid:hover h3 {
  color: var(--primary-1);
}
.first-grid {
  background-color: var(--surface-6);
}
.second-grid {
  background-color: var(--tertiary-8);
}
.third-grid {
  background-color: var(--tertiary-9);
}
.no-gutter > [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}
.watch-film-player {
  /* background-image: url("../../images/movie/movie.png"); */
  background-position: center center;
  background-size: cover;
  color: var(--element-4);
  height: 436px;
  position: relative;
}
.watch-film-player h3 {
  color: var(--element-4);
  font-size: 1.3125rem; /*21px*/
  margin-top: 170px;
}
.trailer-text {
  position: relative;
  z-index: 3;
}
.watch-film-player svg {
  margin-bottom: 20px;
  width: 48px;
}
.watch-film-player svg polygon {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.watch-film-player svg path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.watch-film-player svg:hover polygon {
  fill: var(--tertiary-10);
  stroke: none;
}
.watch-film-player svg:hover path {
  fill: var(--element-4);
  fill-opacity: 1;
  stroke: none;
}
.trailer-text {
  margin-top: 60px;
}
.watch-film-player h1 {
  display: inline-block;
  font-size: 1.5rem; /*24px*/
  font-weight: 700;
  margin-bottom: 30px;
  margin-left: 10px;
  text-transform: uppercase;
}
.watch-film-player h1:first-of-type {
  margin-left: 0;
  margin-right: 10px;
}
.watch-film-player h2 {
  margin-bottom: 20px;
}
.watch-film-player i {
  color: var(--primary-1);
  font-size: 1.375rem; /*22px*/
}
.call-to-action-small {
  background-color: var(--surface-14);
  padding: 16px 0;
}
.call-to-action-small:before {
  display: block;
  content: '';
  width: 100%;
  margin-bottom: 2rem;
  outline: 1px solid var(--tertiary-11);
}
.call-to-action-small:after {
  display: block;
  content: '';
  width: 100%;
  margin-top: 2rem;
  outline: 1px solid var(--tertiary-11);
}
.call-to-action-small h2 {
  color: var(--element-4);
  display: inline-block;
  font-size: 1.3125rem; /*21px*/
  padding-top: 15px;
}
.call-to-action-small a.btn-charity-default {
  text-transform: capitalize;
}

.call-to-action-small .donate {
  background-color: var(--primary-1);
  font-weight: 600;
  font-size: 1.3125rem; /*21px*/
  border-radius: 2px;
  border: none;
  padding: 10px 20px;
}

.call-to-action-small .donate:hover {
  background-color: var(--element-15);
  color: var(--element-4);
  transition: all 0.1 linear;
}

@media (max-width: 767px) {
  .call-to-action-small h3 {
    margin-bottom: 20px;
    text-align: center;
  }
}
.call-to-action-small a {
  height: 54px;
  padding: 16px 0;
  text-transform: uppercase;
  width: 230px;
  color: var(--element-4);
}

.call-to-action-small a.btn-charity-default {
  margin-top: 1px;
}
@media (max-width: 767px) {
  .call-to-action-small .button-align.text-left {
    text-align: center;
  }
}
.organisations {
  background-color: var(--surface-2);
}
@media (max-width: 767px) {
  .organisations .organisation {
    margin-bottom: 30px;
  }
}
.organisations h2 {
  margin-bottom: 45px;
}
.organisations h3 {
  font-family: 'Gotham';
  font-size: 1.3125rem; /*21px*/
  font-weight: 900;
  margin-bottom: 10px;
}
.organisations span {
  color: var(--element-5);
  display: inline-block;
}
.organisations span i {
  margin-right: 10px;
}
.organisations span.date {
  float: right;
}
.organisations a.btn-charity-default {
  margin-left: 60%;
  margin-top: 0;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .organisations a.btn-charity-default {
    margin: 0;
  }
}
.organisations .organisation-wrap {
  margin-bottom: 50px;
}
.organisations img {
  margin-bottom: 25px;
}
.blog-snippet .full-snippet {
  height: 442px;
  margin-bottom: 90px;
  padding: 60px 60px 0 56px;
}
.blog-snippet .full-snippet .btn-charity-default {
  display: block;
  margin: 0;
  text-transform: uppercase;
}
.blog-snippet h2 {
  margin: 0;
  margin-bottom: 48px;
}
.blog-snippet h3 {
  color: var(--element-4);
  margin: 0;
}
.blog-snippet h3 a {
  color: var(--element-4);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.blog-snippet h3 a:hover {
  color: var(--tertiary-12);
}
.blog-snippet .snippet-author {
  color: var(--surface-2);
  display: inline-block;
  margin-bottom: 55px;
}
.blog-snippet .snippet-author a {
  color: var(--element-4);
}
.blog-snippet .snippet-author a:hover {
  color: var(--tertiary-12);
}
.blog-snippet .card-snippet {
  height: 265px;
  padding: 30px 33px;
}
.blog-snippet .card-snippet span a {
  color: var(--element-4);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.blog-snippet .card-snippet span a:hover {
  color: var(--tertiary-12);
}
.logo {
  height: 95px;
}
@media only screen and (max-width: 991px) {
  .logo {
    margin-bottom: 30px;
  }
}
.calendar {
  color: var(--primary-1);
}
@media (max-width: 767px) {
  #urgent-causes h2 {
    margin-bottom: 20px;
  }
}
.dg-wrapper div span {
  display: block;
  font-size: 1.875rem; /*30px*/
}
.dg-wrapper div span.dg-small {
  font-family: 'Gotham';
  font-size: 0.9375rem; /*15px*/
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 24px;
}
.slider-nav {
  height: 316px;
}
.slider-nav i {
  color: var(--primary-1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.slider-nav i:hover {
  color: var(--tertiary-9);
  cursor: pointer;
}
.slider-nav i.dg-next {
  position: absolute;
  right: 0;
}
.zabuto_calendar {
  background-color: var(--tertiary-7);
}
div.zabuto_calendar {
  padding: 60px;
}
div.zabuto_calendar .table tr.calendar-month-header th,
div.zabuto_calendar .table tr.calendar-dow-header th {
  background-color: var(--tertiary-7);
  color: var(--element-4);
  padding-bottom: 30px;
}
div.zabuto_calendar tr.calendar-dow td {
  height: 150px;
}
.review-slider {
  background-color: var(--surface-2);
}
.review-slider .review-wrap {
  background-color: var(--element-4);
  padding: 32px;
}
.review-slider i.fa-chevron-left:hover,
.review-slider i.fa-chevron-right:hover {
  cursor: pointer;
}
.review-slider i.fa-chevron-left {
  position: absolute;
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.review-slider i.fa-chevron-right {
  left: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.review-slider button {
  background-color: transparent;
  border: none;
  box-shadow: 0;
}
.review-slider .call-to-action-small {
  border-bottom: 1px solid var(--tertiary-11);
}
.review-slider .call-to-action-small a.btn-charity-default {
  margin-top: 30px;
}
.four-o-four-text {
  padding-top: 150px;
}
.four-o-four {
  text-align: center;
}
.four-o-four p.subtitle {
  color: var(--element-4);
  font-size: 2.625rem; /*42px*/
  line-height: 1.2;
  margin-bottom: 45px;
}
.four-o-four h2 {
  color: var(--element-4);
  font-family: 'Gotham';
  font-size: 16.25rem; /*100px*/
  font-weight: 900;
  margin-bottom: 42px;
}
.four-o-four .btn-charity-default {
  display: inline-block;
  margin: 0 auto;
}
.footer-span {
  color: var(--element-14);
}
.footer-span:hover {
  color: var(--element-18);
}
.footer-widgets {
  background-color: var(--surface-6);
}
.footer-widgets h3 {
  font-family: 'Gotham', sans-serif;
  font-size: 1.3125rem; /*21px*/
  font-weight: 800;
  letter-spacing: 1px;
}
.footer-widgets p {
  color: var(--element-4);
  font-size: 0.9375rem; /*15px*/
  font-weight: 300;
  margin-bottom: 15px;
}
.footer-widgets p span {
  display: inline-block;
  margin-bottom: 10px;
}
.footer-widgets .widgets-title {
  color: var(--tertiary-13);
  font-size: 1.3125rem; /*21px*/
  margin-bottom: 30px;
  text-transform: uppercase;
}
.footer-widgets .widgets-content .footer-social i {
  background-color: transparent;
  border: 1px solid var(--tertiary-14);
  border-radius: 50%;
  color: var(--element-4);
  margin: 23px 5px 0 0;
  padding: 6px 12px;
  height: 40px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-widgets .widgets-content .footer-social i.fa-facebook-f {
  text-align: center;
  width: 37px;
}
.footer-widgets .widgets-content .footer-social i:hover {
  background-color: var(--primary-1);
  color: var(--element-3);
  cursor: pointer;
}
.footer-widgets .widgets-content .photo-gallery a {
  background-color: var(--element-1);
  background-size: cover;
  display: block;
  float: left;
  height: 1px;
  margin-bottom: 5%;
  margin-bottom: 45px;
  margin-right: 5%;
  padding-bottom: 20%;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  width: 40%;
}
.footer-widgets .widgets-content .widgets-list li {
  font-weight: 300;
  letter-spacing: 1px;
  margin: 10px 0;
  position: relative;
  text-transform: uppercase;
}
.footer-widgets .widgets-content .widgets-list li a {
  color: var(--element-4);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-widgets .widgets-content .widgets-list li a:hover {
  color: var(--primary-1);
  text-decoration: underline;
}
.footer-widgets .widgets-content .widgets-list li:first-child {
  margin-top: 0;
}
.footer-widgets .widgets-content .widgets-list li:before {
  background: url('../../images/footer-widgets/bulleted-list.png') 0 center no-repeat;
  content: ' ';
  padding-left: 15px;
}
.footer-widgets .widgets-content .office {
  color: var(--element-4);
  line-height: 22px;
  text-transform: uppercase;
}
.footer-widgets .widgets-content .office span {
  font-weight: 700;
}
@media (max-width: 767px) {
  .footer-widgets .footer-widget-wrap {
    margin-bottom: 30px;
  }
}
.footer-widgets .map {
  background-image: url(../../images/world.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer {
  background-color: var(--surface-6);
  color: var(--element-4);
  padding: 40px 0;
}
.footer:before {
  display: block;
  content: '';
  outline: 1px solid var(--tertiary-7);
  margin-bottom: 3rem;
}
.footer .footer-menu {
  display: flex;
  align-items: center;
}
.footer .footer-menu li {
  border-right: 1px solid var(--element-4);
  display: inline-block;
  padding: 0 10px;
}
.footer .footer-menu li a {
  color: var(--element-4);
}
.footer .footer-menu li:last-child {
  border-right: none;
}
@media (max-width: 767px) {
  .footer .footer-menu {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.red {
  color: var(--primary-1);
}
