/* NAV */
/* overide bootstrap mobile nav styles */

/* skip to main link - Accessibility */

#skip-to-main-link {
  font-size: 1.3rem;
  left: 10px;
  background-color: var(--primary-1);
  border: 1px solid var(--element-3);
  border-radius: 0 0 4px 4px;
  padding: 12px 24px;
  color: var(--element-4);
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  position: absolute;
  transform: translateY(-120%);
  transition: transform 325ms ease-in;
  z-index: 99;
}

#skip-to-main-link:hover {
  text-decoration: underline;
}

#skip-to-main-link:focus {
  transform: translateY(0%);
}

/* hamburger menu styles */
.hamburger {
  position: absolute;
  top: 15px;
  right: 8px;
}

.hamburger .line {
  width: 39px;
  height: 2px;
  background-color: var(--element-14);
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger:focus {
  border: 1px dashed var(--element-4);
}

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.navbar-brand a {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 50px;
}

.navbar-brand a .logo_holder {
  grid-column: 1/1;
  grid-row: 1/1;
}

.navbar-brand a .homeLink {
  grid-column: 2/2;
  grid-row: 1/1;
  padding-left: 5px;
  padding-top: 15px;
  vertical-align: middle;
  font-size: 0.5em;
}

.main-navigation .dropdown-menu li a span {
    color: var(--element-4);
}

@media only screen and (max-width: 363px) {
  .navbar-brand {
    max-width: 200px;
  }
}

.donate {
  background-color: var(--primary-1);
  font-weight: 600;
  border-radius: 2px;
}

.donate:hover {
  background-color: var(--element-15);
  color: var(--element-4);
  transition: all 0.1 linear;
}

.donate a span {
  color: var(--element-4);
}

@media (min-width: 768px) and (max-width: 1400px) {
  .container-fluid {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  #navbar-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: linear;
    margin-top: 0;
    padding: 0;
    position: relative;
  }

  .navbar-nav li {
    padding-top: 0;
    position: relative;
  }

  #navbar-brand {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: auto;
  }
}

@media (min-width: 768px) {
  .navbar-right {
      float: right!important;
      margin-right: -15px;
  }
}
