.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 992px) {
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .products {
    display: grid;
    grid-template-columns: 1fr;
  }
}