.job-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-label {
  margin-bottom: 0;
}

.search {
  background: var(--surface-2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 var(--element-12);
  margin-right: 15px;
  margin-left: 15px;
  border: 1px solid var(--element-12);
}

.scroll-to {
  position: relative;
  top: -130px;
}

@media (max-width: 1400px) {
  .scroll-to {
    top: -210px;
  }
}

@media (max-width: 991px) {
  form {
    flex-direction: column;
  }

  .zipcode-container {
    width: 100%;
  }

  .remote-container {
    margin-top: 20px;
    width: 100%;
  }
  .distance-container {
    margin-top: 20px;
    width: 100%;
  }

  .search-button {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .remote-container {
    padding-top: 20px;
  }
  .scroll-to {
    top: -100px;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
