/* overide bootstrap mobile nav styles */

/* hamburger menu styles */
.hamburger {
  position: absolute;
  top: 15px;
  right: 8px;
}

.hamburger .line {
  width: 39px;
  height: 2px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger:focus {
  border: 1px dashed #fff;
}

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.navbar-brand a {
  min-width: 200px;
  display: grid;
  grid-template-columns: 50px 180px;
  grid-template-rows: 50px;
}

.navbar-brand a .logo_holder {
  grid-column: 1/1;
  grid-row: 1/1;
}

.navbar-brand a .homeLink {
  grid-column: 2/2;
  grid-row: 1/1;
  padding-left: 5px;
  padding-top: 15px;
  vertical-align: middle;
  font-size: 0.5em;
}

/*  */
.donate:hover{
  transition: .3s linear;
  background-color: #C5203E;
}
