/* overide bootstrap mobile nav styles */
/* hamburger menu styles */
.hamburger {
  position: absolute;
  top: 15px;
  right: 8px;
}

.hamburger .line {
  width: 39px;
  height: 2px;
  background-color: var(--element-14);
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger:focus {
  border: 1px dashed var(--element-4);
}

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.navbar-brand a {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 50px;
}

.navbar-brand a .logo_holder {
  grid-column: 1/1;
  grid-row: 1/1;
}

.navbar-brand a .homeLink {
  grid-column: 2/2;
  grid-row: 1/1;
  padding-left: 5px;
  padding-top: 15px;
  vertical-align: middle;
  font-size: 0.5em;
}
@media only screen and (max-width: 363px) {
  .navbar-brand {
    max-width: 200px;
  }
}

.donate {
  background-color: var(--primary-1);
  font-weight: 600;
  border-radius: 2px;
}
.donate:hover {
  background-color: var(--element-15);
  color: var(--element-4);
  transition: all 0.1 linear;
}
.donate a span {
  color: var(--element-4);
}
@media (min-width: 768px) and (max-width: 1400px) {
  .container-fluid {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  #navbar-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: linear;
    margin-top: 0;
    padding: 0;
    position: relative;
  }
  .navbar-nav li {
    padding-top: 0;
    position: relative;
  }
  #navbar-brand {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: auto;
  }
}

/* override for dropdown font */
.main-navigation .dropdown-menu li a span {
  color: var(--element-4);
}

/* override for mobile nav height */
.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
  max-height: 565px !important;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  border-color: none;
}

/* dropdown-caret styles */
.dropdown-caret {
  top: 1.6em;
  position: absolute;
}
